/********************************************FOR MOBILE DEVICE********************************************/
@import "mixins";


.far {
  &-page-title {
    font-size: 40px;
    font-family: $font-light;
    margin: 0px auto 25px auto;
    text-align: center;
    color: $title-color;
  }

  &-search {
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      & .far-popup {
        margin-right: 105px;
      }
      
      &-text {
        font-size: 16px;
        color: $black;
        font-family: $font-light;
        font-weight: bold;
      }
    }

    &-input {
      position: relative;
      z-index: 2;
      width: 323px;
      border: none;
      border-radius: 25px;
      background: $light-gray;
      font-size: 18px;
      font-family: $font-regular;
      padding: 0px 50px 0px 20px;

      &:focus {
        border: 2px solid $blue;
        background: $white;
        outline: none;
      }

      &-area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        height: 50px;
      }

      &.error {
        border: 2px solid $error;
      }
    }

    &-button {
      position: absolute;
      z-index: 2;
      right: 4px;
      top: 5px;
      width: 40px;
      height: 40px;
      background: $yellow;
      border-radius: 25px;
      border: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      color: $white;
      font-size: 14px;

      &:focus {
        outline: none;
      }
    }

    &-icon {
      position: absolute;
      width: 24px;
      height: 24px;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-image: url("#{$images-link}/search.svg");
      mask-image: url("#{$images-link}/search.svg");
      background-color: $white;
    }

    &-results {
      &-list {
        display: none;
        position: absolute;
        z-index: 1;
        top: 21px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 323px;
        max-height: 400px;
        overflow-y: auto;
        border: 1px solid $light-gray;
        border-radius: 5px;
        border-top: none;
        background-color: transparent;
        padding-top: 35px;
        font-size: 16px;
      }

      &-item {
        padding: 5px 0  5px 10px;
        cursor: pointer;
        background-color: $white;

        &:hover {
          background-color: $light-gray;
        }
      }
    }
  }

  &-popup {
    box-shadow: 0px 0px 6px $box-shadow;
    background-color: $white;
    color: $dark-gray;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    font-size: 14px;
    width: 153px;
    display: none;

    * {
      color: $dark-gray;
      stroke: $dark-gray;
    }

    &-text {
      display: flex;

      & + .far-popup-text  {
        margin-top: 20px;
      }
    }

    &-icon {
      margin-right: 10px;
    }

    &.active {
      display: block;
    }
  }

  &-product {
    &-options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: max-content;
      margin: 20px auto;

      & label {
        margin: 0px 0px 0px 5px;
        font-size: 16px;
        color: $black;
        font-family: $font-light;
        cursor: pointer;
        display: flex;
        align-items: center;
      }
    }

    &-option {
      &-group {

        & > input[type="radio"] {
          display: none;

          & + *::before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            margin-right: 9px;
            border-radius: 50%;
            border-style: solid;
            border-width: 0.1rem;
            border-color: $gray;
          }

          &:checked + *::before {
            background: radial-gradient($gray 0%, $gray 40%, transparent 50%, transparent);
            border-color: $gray;
          }
        }
      }
    }

    &-icon {
      &-outdoor {
        -webkit-mask-image: url("#{$images-link}/outdoor.svg");
        mask-image: url("#{$images-link}/outdoor.svg");
      }

      &-interior {
        -webkit-mask-image: url("#{$images-link}/interior.svg");
        mask-image: url("#{$images-link}/interior.svg");
      }
    }
  }

  &-map {
    height: 377px;
    width: 100%;

    &-retailer {
      &-name {
        color: $black;
        font-size: 16px;
      }

      &-address {
        a {
          color: $dark-blue;
          font-size: 14px;
          text-decoration: underline;
        }
      }
    }
  }

  &-retailers {
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    margin: 0px 10px;

    &-title {
      font-family: $font-light;
      font-size: 16px;
      color: $black;
      margin-top: 25px;
      display: none;
    }
  }

  &-premium-retailers,
  &-non-premium-retailers {
    width: 100%;
  }

  &-no-results {
    margin: 40px auto;
    text-align: center;
    font-size: 1.2em;
    color: $black;
    display: none;
  }

  &-premium {
    &-retailer {
      border: 1px solid $light-yellow;
      background-color: $white;
      margin: 15px 0px;
      padding: 15px;
      height: auto;
      border-radius: 5px;
      position: relative;

      &-star {
        position: absolute;
        top: 6px;
        right: 8px;
      }
    }
  }

  &-non-premium {
    &-retailer {
      border: 1px solid $simple-gray;
      background-color: $white;
      margin: 15px 0px;
      padding: 15px;
      height: auto;
      border-radius: 5px;
    }
  }

  &-retailer {
    &-container {
      display: flex;
      flex-direction: column-reverse;
    }

    &-details {
      display: flex;
      margin-bottom: 10px;
    }

    &-name {
      display: none;

      &-mobile {
        text-align: center;
      }
    }

    &-name,
    &-name-mobile {
      font-size: 20px;
      color: $black;
      margin-bottom: 15px;
    }

    &-contact-details {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &-logo {
      width: 116px;
      text-align: center;
      margin: 0px auto 15px auto;

      img {
        max-height: 94px;
        max-width: 116px;
      }
    }

    &-address {
      display: flex;
      font-size: 14px;
      color: $simple-blue;
      margin-bottom: 10px;

      a {
        color: $dark-blue;
      }

      &-icon {
        -webkit-mask-image: url("#{$images-link}/address.svg");
        mask-image: url("#{$images-link}/address.svg");
      }
    }

    &-phone {
      &-icon {
        -webkit-mask-image: url("#{$images-link}/phone.svg");
        mask-image: url("#{$images-link}/phone.svg");
      }

      &-area {
        display: flex;
        margin-bottom: 10px;
        color: $dark-blue;
        font-size: 14px;

        & button {
          border: none;
          background: none;
          outline: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &-page {
      color: $dark-blue;
      text-decoration: none;
      font-size: 14px;

      &-icon {
        width: 17px;
        height: 17px;
        -webkit-mask-image: url("#{$images-link}/page_icon.svg");
        mask-image: url("#{$images-link}/page_icon.svg");
        -webkit-mask-size: 17px 17px;
        mask-size: 17px 17px;
      }

      &-area {
        display: flex;
      }
    }

    &-address-icon,
    &-phone-icon,
    &-page-icon {
      margin-right: 10px;
    }

    &-store-area,
    &-products-area {
      display: flex;
      flex-direction: row;
      font-size: 14px;
      color: $dark-blue;
      align-items: center;
    }

    &-products-area + 
    &-store-area::before {
      content: "|";
      color: $simple-gray;
      margin: 0px 8px;
    }
  }

  &-product-icon,
  &-store-icon {
    width: 20px;
    height: 20px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
    -webkit-mask-size: 20px 20px;
    mask-size: 20px 20px;
    background-color: $dark-blue;
  }

  &-store-icon {
    -webkit-mask-image: url("#{$images-link}/store.svg");
    mask-image: url("#{$images-link}/store.svg");
    color: $dark-blue;
  }

  &-delivery-icon {
    -webkit-mask-image: url("#{$images-link}/delivery.svg");
    mask-image: url("#{$images-link}/delivery.svg");
  }

  &-call-to-retailer {
    text-decoration: none;
    color: $dark-blue;
  }

  &-question-mark {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin: 0px 4px;

    .far-popup {
      width: 200px;
    }
  }

  &-retailer-products-area .far-question-mark {
    justify-content: flex-start;
  }

  &-product-icon + &-product-icon,
  &-store-icon + &-store-icon {
    margin-left: 8px;
  }

  &-3d-configurator {
    text-align: center;
    width: 100%;
    display: flex;
  }

  &-contact-a-retailer-button {
    color: $white;
    background: $simple-blue;
    border: 1px solid $simple-blue;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 25px;
    padding: 0px 10px;

    &:hover,
    &:focus,
    &:active {
      background: $white;
      color: $simple-blue;
      text-decoration: none;
      outline: none;
    }

    &:hover *,
    &:focus *,
    &:active * {
      color: $simple-blue;
      background-color: $simple-blue;
    }

    &-icon {
      mask-image: url("#{$images-link}/email.svg");
      -webkit-mask-image: url("#{$images-link}/email.svg");
        mask-image: url("#{$images-link}/email.svg");
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
        -webkit-mask-size: 20px 20px;
        mask-size: 20px 20px;
      background-color: $white;
      margin-left: 10px;

      path {
        fill: $white;
      }
    }
  }
}

body {
  &.loading {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    @include loading; 
  }
}
