$images-link:        "../images";

$font-light:        "Roboto-Light", sans-serif;
$font-regular:      "Roboto-Regular", sans-serif;

$white:             #ffffff;
$black:             #000000;
$light-gray:        #ebebeb;
$simple-gray:       #C9C9C9;
$gray:              #555555;
$dark-gray:         #4E4E4E;
$light-yellow:      #FFC525;
$yellow:            #FCA500;
$blue:              #3A54E3;
$simple-blue:       #004171;
$dark-blue:         #1D426A;
$title-color:       #13416C;
$error:             #e80000;
$box-shadow:        #00000080;